{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}

{% block title %}
<title>Analytics</title>
{% endblock title %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<link rel="stylesheet" href="{% static 'css/analytics.css' %}">
{% endblock styles %}

{% block content %}
<div class="top-bar">
    <div class="container d-flex justify-content-between align-items-center pt-3">
        <p class="fs-5">Analytics</p>
        <p>
            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addLoanModal">
                <i class="bi-box-arrow-up"></i> Export
            </button>
        </p>

    </div>
    <hr>
</div>

<div class="container analytics">
    <div class="top-cards d-flex mb-4">
        <div class="summary-cards d-flex justify-content-center align-items-center">
            <div>
                <canvas id="myChart" width="350" height="350"></canvas>
            </div>

            <div class="card ms-4">
                <div class="card-body px-5 py-2">
                    <small>Top borrower</small>
                    <p class="fw-bold fs-4">
                        John Doe
                        <br>
                        KES 200,000
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item" id="loans">
                <a class="nav-link active" href="#">Loans</a>
            </li>
            <li class="nav-item" id="borrowers">
                <a class="nav-link" href="#">Borrowers</a>
            </li>
        </ul>

        <div>
            <table class="table table-hover" id="loans-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Loanee</th>
                        <th scope="col">Loan from</th>
                        <th scope="col">Loan maturity</th>
                        <th scope="col">Amount(KES)</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in loans %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td scope="col">{{loan.loanee_full_name}}</td>
                        <td scope="col">{{loan.from_date | date}}</td>
                        <td scope="col">{{loan.to_date | date}}</td>
                        <td scope="col">{{loan.loan_amount |floatformat:2 | intcomma}}</td>
                        <td scope="col">
                            {% if loan.loan_status %}
                            <span class="bg-success d-block rounded-circle" style="width: 20px; height: 20px;"></span>
                            {% else %}
                            <span class="bg-danger d-block rounded-circle" style="width: 20px; height: 20px;"></span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-hover" id="borrowers-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Borrower name</th>
                        <th scope="col">Borrower email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for borrower in borrowers %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td scope="col">{{borrower.loanee_full_name}}</td>
                        <td scope="col">{{borrower.loanee_email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% block scripts%}
{{block.super}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"> </script>

<script>
    window.onload = (e) => {
        const ctx = document.getElementById('myChart');
        const loansTable = document.getElementById("loans-table")
        const borrowersTable = document.getElementById("borrowers-table")
        borrowersTable.classList.add('d-none')

        const data = {
            labels: [
                'Lended',
                'Repaid',
                'Unrepaid'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [11, 16, 7],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                ]
            }]
        };

        new Chart(ctx, {
            type: 'polarArea',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        });

        const loans = document.getElementById("loans")
        loans.addEventListener('click', (e) => {
            loansTable.classList.remove('d-none')
            borrowersTable.classList.add('d-none')
        })

        borrowers.addEventListener('click', (e) => {
            loansTable.classList.add('d-none')
            borrowersTable.classList.remove('d-none')
        })
    }
</script>
{% endblock scripts %}
{% endblock content %}