<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block styles %}
    {% endblock styles %}

    {% block title %}
    <title></title>
    {% endblock title %}
</head>

<body>

    <section class="landing d-flex">
        <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-light min-vh-100" style="width: 280px;">
            <span class="mb-4">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
                    {% include 'logo.html' %}
                </a>
            </span>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-light" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            {% bs_icon 'house' %}
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-light">
                        <svg class="bi me-2" width="16" height="16">
                            {% bs_icon 'speedometer2' %}
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-light">
                        <svg class="bi me-2" width="16" height="16">
                            {% bs_icon 'table' %}
                        </svg>
                        Loans
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-light">
                        <svg class="bi me-2" width="16" height="16">
                            {% bs_icon 'grid' %}
                        </svg>
                        Analytics
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-light">
                        <svg class="bi me-2" width="16" height="16">
                            {% bs_icon 'cash-coin' %}
                        </svg>
                        Receipts
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{request.user.email}}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                </ul>
            </div>
        </div>

        <section>
            {% block content %}
            {% endblock content %}
        </section>
    </section>

    {% bootstrap_javascript %}
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>